header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    .container {
        width: 1200px;
        margin: auto;
    }
    img {
        width: 80px;
    }
    .d-flex {
        display: flex;
        justify-content: center;
    }

    ul li {
        list-style: none;
        padding: 5px;
        font-size: 15px;
        text-transform: uppercase;

        a {
            text-decoration: none;
            color: black;
            .active {
                color: blue;
            }
        }
    }
}

.jumbo-img {
    height: 400px;
    width: 100%;
    background-image: url("/images/jumbotron.jpg");
}
